<div class="search">
    <mat-label>Email</mat-label>
  <app-input-field matInput [(value)]="email"></app-input-field>
<br>
    <mat-label class="fields" >Name</mat-label>
  <app-input-field class="fields"  name="name" ngDefaultControl [(value)]="firstName"></app-input-field>
<br>
    <mat-label>Surname</mat-label>
  <app-input-field name="surname" ngDefaultControl [(value)]="lastName"></app-input-field>

<br>
    <mat-label>From</mat-label>
    <app-date-field   name="from" ngDefaultControl [(value)]="from"></app-date-field>
 <br>
    <mat-label>To</mat-label>
    <app-date-field   name="to" ngDefaultControl [(value)]="to"></app-date-field>
<br>
  <button class="cta" (click)="search()">
    <span class="hover-underline-animation"> SEARCH</span>
    <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
      <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
    </svg>
  </button>
  <br>
</div>
<div >
  <table mat-table [dataSource]="employees">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <!-- Last name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let element">{{ element.address.city }}</td>
    </ng-container>
    <!-- Street Column -->
    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef>Street</th>
      <td mat-cell *matCellDef="let element">{{ element.address.street }}</td>
    </ng-container>
    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.address.country }}</td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.account.username }}</td>
    </ng-container>
    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.account.roles[0].name }}</td>
    </ng-container>


    <!-- Define table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
