<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form" *ngIf="updateForm">
  <div class="first-column" style="margin-right: 20px;">
    <mat-form-field>
      <mat-label>User ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="f.firstName.hasError('required')">Name is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="f.lastName.hasError('required')">Surname is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Email address</mat-label>
      <input matInput formControlName="email" [disabled]="true">
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" (focusout)="passwordValidator(f.password.value)">
      <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="f.password.hasError('minlength')">Minimum password length is 8 characters</mat-error>
      <mat-error *ngIf="f.password.hasError('invalidPassword')" style="width: 100% !important;">One number and one of those symbols(!*&$%) are required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" (focusout)="validatePasswordMatch()">
      <mat-error *ngIf="f.confirmPassword.hasError('required')">Confirm password is required</mat-error>
      <mat-error *ngIf="f.confirmPassword.hasError('mismatch')">Passwords do not match</mat-error>
    </mat-form-field><br>
  </div>
  <div class="second-column">
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="street">
      <mat-error *ngIf="f.street.hasError('required')">Street is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="city">
      <mat-error *ngIf="f.city.hasError('required')">City is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput formControlName="country">
      <mat-error *ngIf="f.country.hasError('required')">Country is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="f.phone.hasError('required')">Phone number is required</mat-error>
    </mat-form-field><br>

    <button  style="margin-left: 150px; margin-top: 12px;" mat-raised-button color="primary" type="submit" [disabled]="updateForm.invalid">Update</button>
  </div>
  <button (click)="setup2F()" style="position: absolute; left: 1100px; top: 510px;" mat-raised-button>setup 2 factor</button>
</form>
