<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="form" *ngIf="form">
    <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password" (focusout)="passwordValidator(f.password.value)">
        <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="f.password.hasError('minlength')">Minimum password length is 8 characters</mat-error>
        <mat-error *ngIf="f.password.hasError('invalidPassword')" style="width: 100% !important;">One number and one of those symbols(!*&$%) are required</mat-error>
    </mat-form-field><br>
  
    <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" (focusout)="validatePasswordMatch()">
        <mat-error *ngIf="f.confirmPassword.hasError('required')">Confirm password is required</mat-error>
        <mat-error *ngIf="f.confirmPassword.hasError('mismatch')">Passwords do not match</mat-error>
    </mat-form-field><br>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Change Password</button>
</form>
  