<mat-toolbar color="primary" class="container">
  <div class="logo" (click)="goToHomePage()">
      <img class="logo-img" src="./../../../../assets/logo/logo.webp">
  </div>
  <div class="pages">
      <div class="guest" *ngIf="!user">
          <app-navbar-button (click)="goToHomePage()">Home</app-navbar-button>
      </div>
      <div *ngIf="user">
        <ng-container>
            <app-navbar-button *ngIf="user.hasPermission('TEST')" (click)="goToHomePage()">TEST</app-navbar-button>
        </ng-container>
      </div>
  </div>
  <div *ngIf="!user">
    <app-navbar-button (click)="goToRegisterPage()">Register</app-navbar-button>
  </div>
  <div>
      <app-navbar-button *ngIf="!user" (click)="login()">Login</app-navbar-button>
      <app-navbar-button *ngIf="user" (click)="logout()">Logout</app-navbar-button>
  </div>
</mat-toolbar>

