.form {
  margin-top: 50px;
  margin-left: 40%;
}

mat-form-field {
  width: 400px
}

.table-title {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;

}


.table-title {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;

}
app-input-field{
  margin: 10px 20px 10px 500px;
  color: black;
  float: right;
}

.table-header {
  display: flex;
}
.table {

  margin-top: 100px;
}
