
<h1>Create Certificate using template</h1>
<table>
  <tr>
    <td colspan="3">
      <app-select-field [options]="certificateTypes" [(selected)]="certificateForm.type" (selectedChange)="adjustFormForCertificateType($event)">Certificate Type</app-select-field>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <app-date-field [min]="todayDate" [(value)]="certificateForm.exp">Expires At</app-date-field>
    </td>
  </tr>
  <tr>
    <td>
      <app-autocomplete-input-field [disabled]="canEditIssuer" [options]="certificateHolders" [selected]="certificateForm.issuer" [selectedText]="certificateForm.issuer && certificateForm.issuer.commonName ? certificateForm.issuer.commonName : ''" (selectedChange)="issuerSelected($event)" label="Issuer"></app-autocomplete-input-field>
    </td>
    <td class="arrow-td">
      <mat-icon class="arrow-icon">{{direction_icon}}</mat-icon>
    </td>
    <td>
      <app-autocomplete-input-field [options]="certificateHolders" [selected]="certificateForm.subject" [selectedText]="certificateForm.subject && certificateForm.subject.commonName ? certificateForm.subject.commonName : ''" (selectedChange)="subjectSelected($event)" label="Subject"></app-autocomplete-input-field>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <h1>Choose extensions</h1>  </td>
  </tr>

  <tr>
    <td>
      <mat-label>AUTHORITY_INFO_ACCESS</mat-label> </td>
    <td>
      <app-input-field name="fieldName"  ngDefaultControl  [(ngModel)]="authorityInput"></app-input-field>
     </td>
    <td>
      <label>critical</label>
      <input type="checkbox" disabled="disabled"> </td>
    <td>
      <app-primary-button (click)="addAuthorityInfoAccess()">Add</app-primary-button>

    </td>
  </tr>

  <tr><td>
    <mat-label>BASIC_CONSTRAINTS</mat-label>  </td>
    <td >
      <app-number-input-field name="fieldName"  ngDefaultControl  [(ngModel)]="basicConstraintsValue"> 1 </app-number-input-field>
    </td>
    <td>
      <label>critical</label>
      <input type="checkbox"  disabled = "disabled" checked = "checked" >
    </td>
    <td>
      <app-primary-button (click)="addBasicConstraints()">Add</app-primary-button>

    </td>
  </tr>
  <tr>
    <td>
      <mat-label>CRL_DISTRIBUTION_POINTS</mat-label>  </td>
    <td class="inputs">
      <app-input-field name="fieldName" ngDefaultControl [(ngModel)]="crlInput1"></app-input-field>
    </td>
    <td class="inputs">
      <app-input-field name="fieldName" ngDefaultControl   [(ngModel)]="crlInput2"></app-input-field>
    </td>
    <td>
      <label>critical</label>
      <input type="checkbox"  [(ngModel)]="crlChecked"  >
    </td>
    <td>
      <app-primary-button (click)="addCrl()">Add</app-primary-button>

    </td>
  </tr>
  <tr>
    <td>
      <mat-label>ISSUER_ALT_NAME</mat-label>  </td>
    <td>
      <app-input-field  name="fieldName" ngDefaultControl   [(ngModel)]="issuerInput">text</app-input-field>
    </td>
    <td>
<label>critical</label>
      <input type="checkbox" [(ngModel)]="issuerChecked"   >
    </td>
    <td>     <app-primary-button (click)="addIssuerAltName()">Add</app-primary-button>

    </td>
  </tr>
  <tr>
    <td>
      <mat-label>KEY_USAGE</mat-label>  </td>
    <td>
      <app-number-input-field name="fieldName" ngDefaultControl  [(ngModel)]="keyUsage"></app-number-input-field>
    </td>
    <td>
      <label>critical</label>
      <input type="checkbox" [(ngModel)]="keyChecked"  >
    </td>
    <td>     <app-primary-button (click)="addKeyUsage()">Add</app-primary-button>

    </td>
  </tr>
  <tr>
    <td>
      <mat-label>PRIVATE_KEY_USAGE_PERIOD</mat-label>  </td>
    <td>
      <app-input-field name="fieldName" ngDefaultControl   [(ngModel)]="privateKeyPeriod">,</app-input-field>
    </td>

    <td>
      <label>critical</label>
      <input type="checkbox" disabled="disabled">
    </td>
    <td>
      <app-primary-button (click)="addPrivateKeyUsagePeriod()">Add</app-primary-button>
    </td>
  </tr>
  <tr>
    <td>
      <mat-label>SUBJECT_ALT_NAME</mat-label>  </td>
    <td>
      <app-input-field
        name="fieldName"
        ngDefaultControl
        [(ngModel)]="subjectAltNameInput">,</app-input-field>
    </td>
    <td>
      <label>critical</label>
      <input type="checkbox" disabled="disabled">
    </td>
    <td>
      <app-primary-button (click)="addSubjectAltName()">Add</app-primary-button>

    </td>
  </tr>
  <app-primary-button (click)="createCertificate()">Create</app-primary-button>
</table>






