<mat-toolbar color="primary" class="container">
  <div class="logo" (click)="goToHomePage()">
      <img class="logo-img" src="./../../../../assets/logo/logo.png">
  </div>
  <div class="pages">
      <div class="guest" *ngIf="!user">
          <app-navbar-button (click)="goToHomePage()">Home</app-navbar-button>
      </div>
      <div *ngIf="user">
        <ng-container class="admin" *ngIf="user.roles.includes('ROLE_ADMIN')">
            <app-navbar-button (click)="goToHomePage()">Home</app-navbar-button>
            <app-navbar-button (click)="goToAccountsPage()">Accounts</app-navbar-button>
        </ng-container>
        <ng-container class="certificate-authority" *ngIf="user.roles.includes('ROLE_CERTIFICATE_AUTHORITY')">
        </ng-container>
        <ng-container class="entity" *ngIf="user.roles.includes('ROLE_ENTITY')">
            <app-navbar-button (click)="goToHomePage()">Home</app-navbar-button>
        </ng-container>
      </div>
  </div>
  
  <div>
      <app-navbar-button *ngIf="!user" (click)="login()">Login</app-navbar-button>
      <app-navbar-button *ngIf="user" (click)="logout()">Logout</app-navbar-button>
  </div>
</mat-toolbar>

