.form-div{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.first-column {
  margin-left: 25%;
}
.second-column {
  margin-right: 25%;
}

app-primary-button {
  margin-top: 30%;
}
