<div>
  <form (submit)="$event.preventDefault();login()">
    <app-input-field autocomplete="email" [(value)]="loginForm.email">Email</app-input-field>
    <app-password-input-field autocomplete="password" [(value)]="loginForm.password">Password</app-password-input-field>

    <div>
      <app-primary-button type="submit">Login</app-primary-button>
    </div>
  </form>
  <br>
  <h5>Can't remember your password? Click <a [routerLink]="'/request-reset-password'">here</a>!</h5>
  <br>  
  <button mat-button (click)="keycloakLogin()">Login via KeyCloak</button>
  <button mat-button (click)="magicLogin(loginForm.email)" *ngIf="loginForm.email">Wanna try magic login? Click here and check you email!</button>
</div>
