.mat-icon {
  font-size: 42px;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: auto;
}

button {
  width: 42px !important;
  height: 42px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}