<div style="position: absolute; right: 1%;">
    <button style="margin-right: 50px; margin-top: 50px;" color="primary" mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
</div>
<div style="padding: 50px;">
    <div *ngFor="let log of logs$ | async; trackBy: trackByTimestamp">
        <p [ngClass]="{
            'unseen-log': !log.seen, 
            'warn': log.level == 'WARN',
            'info': log.level == 'INFO',
            'error': log.level == 'ERROR',
            'debug': log.level == 'DEBUG'}">
            {{ log.timestamp }} - {{ log.level }} - {{ log.loggerName }} - {{ log.message }}
        </p>
    </div>
</div>
