/* You can add global styles to this file, and also import other style files */
@import 'node_modules/ngx-toastr/toastr.css';

html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #303030;
  color: whitesmoke; 
}

/* Add application styles & imports to this file! */
.maingroup {
	position: absolute;
	width: 980px;
	height: 570px;
	overflow: scroll;	
}

.maindiv {
	position: relative;
	width: 980px;
	height: 570px;
	overflow: scroll;
}

.econode {
	position: absolute;
	text-overflow: clip;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	padding: 2px;
}

a.ecolink:visited {
	text-decoration: none;	
	color: black;
}

a.ecolink:hover {
	text-decoration: underline;
}