
.footer{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
app-secondary-button{
  margin-right: 20px;
  height: 48px;
  button{
    font-size: 26px !important;
  }
  font-size: 26px;
}