<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form">
  <div class="first-column" style="margin-right: 20px;">
    <mat-form-field>
      <mat-label>User ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="f.firstName.hasError('required')">Name is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="f.lastName.hasError('required')">Surname is required</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Email address</mat-label>
      <input matInput formControlName="email" [disabled]="true">
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" (focusout)="passwordValidator(f.password.value)">
      <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="f.password.hasError('minlength')">Minimum password length is 8 characters</mat-error>
      <mat-error *ngIf="f.password.hasError('invalidPassword')" style="width: 100% !important;">One number and one of those symbols(!*&$%) are required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" (focusout)="validatePasswordMatch()">
      <mat-error *ngIf="f.confirmPassword.hasError('required')">Confirm password is required</mat-error>
      <mat-error *ngIf="f.confirmPassword.hasError('mismatch')">Passwords do not match</mat-error>
    </mat-form-field><br>
    <button  style="margin-left: -80px;" mat-raised-button color="primary" type="submit" [disabled]="updateForm.invalid">Update</button>

  </div>
  <div class="second-column">
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="street">
      <mat-error *ngIf="f.street.hasError('required')">Street is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="city">
      <mat-error *ngIf="f.city.hasError('required')">City is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput formControlName="country">
      <mat-error *ngIf="f.country.hasError('required')">Country is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="f.phone.hasError('required')">Phone number is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Designation</mat-label>
      <mat-select formControlName="designation">
        <mat-option *ngFor="let option of designationOptions" [value]="option">{{ option }}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.designation.hasError('required')">Designation is required</mat-error>
    </mat-form-field><br>

  </div>
</form>
<div>
<div class="table-header">
  <p class="table-title">My projects</p>
</div>

<table mat-table [dataSource]="projectsData">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
  </ng-container>

  <!-- Caption Column -->
  <ng-container matColumnDef="managerId">
    <th mat-header-cell *matHeaderCellDef>Manager ID</th>
    <td mat-cell *matCellDef="let element">{{ element.manager.id }}</td>
  </ng-container>


  <!-- Define table rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<p *ngIf="projectsData.data.length == 0" style="margin-left: 40%; margin-top: 10%;">No data available.</p>
</div>

<div  class="table">
  <div class="table-header">
    <p class="table-title">Employees on my projects</p>
    <app-date-field [(value)]="newDate" >
      <mat-label>Choose new date</mat-label>
    </app-date-field>
  </div>
  <table mat-table [dataSource]="userProjectsData">
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>Employee Id</th>
      <td mat-cell *matCellDef="let element"> {{ element.user.id }} </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Employee name</th>
      <td mat-cell *matCellDef="let element">  {{ element.user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef>Project name</th>
      <td mat-cell *matCellDef="let element">{{ element.project.name }}</td>
    </ng-container>

    <!-- Last name Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start date</th>
      <td mat-cell *matCellDef="let element">{{ element.startDate }}
      </td>

    </ng-container>
    <ng-container matColumnDef="buttonStart">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button style="margin-right: 10px;" (click)="changeStartDate(element)">Change start</button>
      </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>End date</th>
      <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
    </ng-container>
    <ng-container matColumnDef="buttonEnd">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button style="margin-right: 10px;" (click)="changeEndDate(element)">Change end</button>
      </td>
    </ng-container>

    <!-- Street Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> </th>
      <td mat-cell *matCellDef="let element" class="cell-center">
        <button mat-icon-button (click)="delete(element)" >
          <mat-icon matTooltip="delete">delete</mat-icon>
        </button>
      </td>

    </ng-container>

    <!-- Define table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsUserProjects"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsUserProjects;"></tr>

  </table>

</div>
<div>
  <h1>Add employee to project</h1>
  <table>
    <tr>
      <select [(ngModel)]="project" >
        <option *ngFor="let object of projects"  [ngValue]="object">{{ object.name }}</option>
      </select>
    </tr>
    <tr>
      <select [(ngModel)]="employee">
        <option *ngFor="let object of allEmployees" [ngValue]="object">{{ object.id }}</option>
      </select>
    </tr>
    <tr><td>
    </td>
      <td>
        <app-input-field
          name="fieldName"
          ngDefaultControl
          [(ngModel)]="description">Description</app-input-field>
      </td>
  </table>
  <app-primary-button class="create" (click)="add()">Add</app-primary-button>
</div>

