.container {
  height: inherit;
  display: flex;
  vertical-align: middle;
  border: 1px solid #4aaf50;
  border-radius: 25px;
  width: fit-content ;
}

.button{
  text-align: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-button{
  color: #4aaf50;
  border-radius: 25px;
  width: inherit;
}
.mat-icon {
  color: #4aaf50;
  margin-right: 15px;
}
